<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="/assets/images/logo.png"> &nbsp;Werkgroep Computerhuis Oost
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i>
            </a>
            <a class="navbar-item" href="/werkplaats/">
                Werkplaats
            </a>
            <a class="navbar-item" href="/cursussen/">
                Cursussen &amp; Workshops
            </a>
            <a class="navbar-item" href="/openingstijden/">
                Openingstijden
            </a>
        </div>
    </div>
</nav>
