<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="/assets/images/logo.png"> &nbsp;Werkgroep Computerhuis Oost
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/">
                <i class="fas fa-home"></i>
            </a>

            {% for nav in site.data.navigation %}
            <a{% if nav.url == page.url %} class="navbar-item is_active" {% else %} class="navbar-item" {% endif %}
            href="{{ nav.url }}">
            {{ nav.text }}
            </a>
            {% endfor %}
        </div>
    </div>
</nav>
